[submodule "cyjs-export-simple"]
	path = cyjs-export-simple
	url = git@github.com:idekerlab/cyjs-export-simple.git
[submodule "cyjs-export-full"]
	path = cyjs-export-full
	url = git@github.com:idekerlab/cyjs-export-full.git
